<!DOCTYPE html>
<!-- <html lang="en"> -->
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1" />
    <title>P2P WebRTC Game</title>
  </head>
  <body>
    <div id="app">
      <!-- GAME LIST -->
      <div class="select-game">
        <a href="/views/game/taptap">TAP! TAP!</a>
        <a href="/views/game/indianPocker">INDIAN POKER</a>
        <a href="/views/game/blackAndWhite">BLACK AND WHITE</a>
        <a href="/views/game/findTheSamePicture">FIND THE SAME PICTURE</a>
      </div>
    </div>
  </body>
</html>
