@use './_keyframes' as anim;

.count {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  span {
    position: absolute;
    left: 50%;
    top: 50%;
    width: calc(100vw - 100px);
    height: calc(100vw - 100px);
    transform: translate(-50%, -50%);
    font-size: 30px;
    color: #fff;
    background-color: #ff0000;
    border-radius: 1000px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    @include anim.animation(readyAnimation, 4s, 1);
  }
}
