.count {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  span {
    position: absolute;
    left: 50%;
    top: 50%;
    width: calc(100vw - 100px);
    height: calc(100vw - 100px);
    transform: translate(-50%, -50%);
    font-size: 30px;
    color: #fff;
    background-color: #ff0000;
    border-radius: 1000px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    animation-duration: leaner;
    animation-iteration-count: 1;
    animation-name: readyAnimation;
    animation-duration: 4s;
  }
  @keyframes readyAnimation {
    0% {
      opacity: 0;
      transform: translate(-50%, -50%) scale(0, 0);
    }
    20% {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1, 1);
    }
    25% {
      opacity: 0;
      transform: translate(-50%, -50%) scale(0, 0);
    }
    45% {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1, 1);
    }
    50% {
      opacity: 0;
      transform: translate(-50%, -50%) scale(0, 0);
    }
    70% {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1, 1);
    }
    75% {
      opacity: 0;
      transform: translate(-50%, -50%) scale(0, 0);
    }
    95% {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1.3, 1.3);
    }
    100% {
      opacity: 0;
      transform: translate(-50%, -50%) scale(2, 2);
    }
  }
}
