@use './_keyframes' as anim;

.touch-dot {
  position: absolute;
  left: 0;
  top: 0;
  width: 100px;
  height: 100px;
  border-radius: 100px;
  span {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    &:nth-child(1) {
      left: 0;
      top: 0;
      @include anim.animation(circleAnimation, 0.1s, 1, alternate, forwards);
    }
    &:nth-child(2) {
      left: 20px;
      top: 20px;
      width: 60px;
      height: 60px;
      @include anim.animation(circleAnimation, 0.2s, 1, alternate, forwards);
    }
    &:nth-child(3) {
      left: 40px;
      top: 40px;
      width: 20px;
      height: 20px;
      @include anim.animation(circleAnimation, 0.3s, 1, alternate, forwards);
    }
  }
  &.tap-dot-top {
    span {
      background-color: #fff;
    }
  }
  &.tap-dot-bottom {
    span {
      background-color: #000;
    }
  }
}
