:root {
  --ball-size: calc(100vw / 10);
}

#LEVEL1 {
  /* ball */
  .ball {
    position: fixed;
    left: 0;
    top: 0;
    width: var(--ball-size);
    height: var(--ball-size);
    transform: translate(0, 0);
    background-color: #000;
    border-radius: 100%;
  }

  /* drag-arrow */
  .drag-arrow {
    position: fixed;
    left: 0;
    top: 0;
    width: var(--ball-size);
    height: var(--ball-size);
    transform-origin: top center;
    transform: translate(0, 0);
    background-color: #ff0000;
    opacity: 0;
    &.dragging {
      cursor: pointer;
    }
  }
  .ball,
  .drag-arrow {
    &.moving {
      left: 0;
      top: 0;
    }
  }
}
