#LEVEL1 {
  /* ball */
  .ball {
    position: fixed;
    left: 50%;
    top: 50%;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    background-color: #000;
    border-radius: 100%;
  }

  /* drag-arrow */
  .drag-arrow {
    position: fixed;
    left: 50%;
    top: 50%;
    width: 50px;
    height: 50px;
    transform-origin: center center;
    transform: translate(-50%, -50%);
    background-color: #ff0000;
    opacity: 1;
    &.dragging {
      cursor: pointer;
    }
    &.center {
      transform-origin: center top;
      transform: translate(-50%, 0%);
    }
  }
}
