<!DOCTYPE html>
<!-- <html lang="en"> -->
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0,user-scalable=no" />
    <title>인디언 포커</title>
  </head>
  <body>
    <div id="app">
      <div id="gameBlock">
        <div class="other-block">
          <div class="card-block">
            <span></span>
          </div>
          <div class="coin-block">
            <button></button>
            <button></button>
            <button></button>
            <button></button>
            <button></button>
            <button></button>
            <button></button>
            <button></button>
            <button></button>
            <button></button>
          </div>
        </div>
        <div class="my-block">
          <div class="coin-block">
            <button></button>
            <button></button>
            <button></button>
            <button></button>
            <button></button>
            <button></button>
            <button></button>
            <button></button>
            <button></button>
            <button></button>
          </div>
          <div class="card-block">
            <span></span>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
