<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0,user-scalable=no" />
    <link rel="icon" type="image/x-icon" href="/client/images/icons/favicon-icon.ico" />
    <meta name="title" content="TAP TAP - 2 player game" />
    <meta name="author" content="TIME ART GAME" />
    <meta name="keywords" content="battle, two, 2, play, player, game, online, web, web game, 2 people, tap" />
    <meta name="description" content="This game is for two people who tap the screen." />
    <title>TAP TAP</title>
  </head>
  <body>
    <!-- <div id="app">
      <h1>탭!탭!</h1>
      <h1>MY NAME : <span class="my-nickname"></span></h1>
      <h1>UR NAME : <span class="ur-nickname"></span></h1>
      <button class="rtc-btn" style="font-size: 30px; padding: 10px; border: 1px solid #000">Button</button>
      <div class="message"></div>
    </div> -->
    <div id="container">
      <div id="gameScene">
        <div class="tap-top"><input type="text" id="topCount" class="tap-count" value="0" disabled /></div>
        <div class="tap-bottom"><input type="text" id="bottomCount" class="tap-count" value="0" disabled /></div>
      </div>
    </div>
  </body>
</html>
