.modal-popup {
  &.change-user-name {
    .modal-container {
      .modal-body {
        padding: 14px 8px;
        .modal-form-wrap {
          position: relative;
          display: flex;

          input[type="text"] {
            width: 100%;
            padding: 8px;
            font-size: 14px;
            border-radius: 6px;
            box-sizing: border-box;
            border: 0 none;
            outline: none;
            &:invalid {
              /* 값이 없을 때 */
            }
            &:valid {
              /* 값이 있을 때 */
            }
          }

          .btn-delete {
            position: absolute;
            display: block;
            right: 0;
            top: 50%;
            width: 14px;
            height: 14px;
            margin-top: -7px;
            visibility: visible;
            &::before,
            &::after {
              content: "";
              display: block;
              position: absolute;
              left: 50%;
              top: 50%;
              width: 2px;
              height: 12px;
              background-color: rgba(0, 0, 0, 1);
            }
            &::before {
              transform: translate(-50%, -50%) rotate(-45deg);
            }
            &::after {
              transform: translate(-50%, -50%) rotate(45deg);
            }

            &.hide {
              visibility: hidden;
            }
          }
        }

        .info-change-name {
          display: block;
          padding-left: 8px;
          box-sizing: border-box;
          margin-top: 8px;
          font-size: 12px;
          &.error {
            color: #ff0000;
          }
        }
      }
    }
  }
}
