@import url("reset.scss");
@import url("level1/level1.scss");

// center-mark
.center-mark {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform: translate(0, 0);
  &::before,
  &::after {
    content: "";
    display: block;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #000;
  }
  &::before {
    width: 1px;
    height: 100%;
  }
  &::after {
    width: 100%;
    height: 1px;
  }
}
